{% extends "base.html" %}
{% block main %}

<div id="index-main">

    <div id="description">
        <i>Can I Cook It</i> finds recipes for you using <br>ingredients you already have in your fridge or pantry!
    </div>

<form action="/results" method="post">
            <p>
                <label for="ingredients">Ingredients</label><br>
                <input type="text" placeholder = "e.g. milk, eggs, sugar" id="ingredients" name="ingredients" required>
            </p>

            <p>
                <label for="number">Number of recipes</label><br>
                <input type="number" id="number" name="number" value = 10 max=50 required>
            </p>
<!--            <p>-->
<!--                <input type="radio" id="ranking-3" name="ranking" value=3 required>-->
<!--                <label class="radio-text" for="ranking-3">Use all ingredients (may require extra ingredients)</label><br>-->
<!--            </p>-->
<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="radio" id="ranking-1" name="ranking" value=1 required>&ndash;&gt;-->
<!--&lt;!&ndash;                <label class="radio-text" for="ranking-1">Use most of the ingredients <i>(good for longer lists)</i></label><br>&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--    <p>-->
<!--                <input type="radio" id="ranking-2" name="ranking" value=2 required>-->
<!--                <label class="radio-text" for="ranking-2">Minimize missing ingredients</label><br>-->
<!--            </p>-->
            <p>
                <input type="checkbox" id="minimize-ingredients" name="minimize-ingredients" value=2>
                <label class="checkbox-text" for="minimize-ingredients">Minimize missing ingredients</label><br>
            </p>
            <p>
                <input class="search-recipes" type="submit" value="FIND RECIPES">
            </p>
</form>

</div>
{% endblock %}